<a href="https://colab.research.google.com/github/blessymoses/PySpark/blob/master/pySpark_3_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os

## Setting up PySpark in Colab
Ref: https://www.analyticsvidhya.com/blog/2020/11/a-must-read-guide-on-how-to-work-with-pyspark-on-google-colab-for-data-scientists/

- To get Apache Spark download site:
  - Choose the Spark release and package type in https://spark.apache.org/downloads.html
  - Clik on the package link and get the download site

In [2]:
# install java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install Apache Spark
!wget -q https://dlcdn.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz

!tar xf spark-3.3.1-bin-hadoop3.tgz

# install findspark to locate Spark on the system and import it as a regular library
!pip install -q findspark

In [3]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"

In [4]:
!pip install -q findspark

In [5]:
import findspark

# locate Spark in the system
findspark.init()

# to know where Spark is installed
findspark.find()

'/content/spark-3.3.1-bin-hadoop3'

## Create Spark Session

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark_session = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [8]:
spark_session

## create single column spark dataframe using List

In [ ]:
ages_list = [10,13,18,34,49,56]

spark_session.createDataFrame(ages_list)

TypeError: ignored

In [ ]:
spark_session.createDataFrame(ages_list, "int")

DataFrame[value: int]

In [ ]:
from pyspark.sql.types import IntegerType

spark_session.createDataFrame(ages_list, IntegerType())

DataFrame[value: int]

In [ ]:
names_list = ["a1", "b1", "c1", "d1", "e1"]

spark_session.createDataFrame(names_list, "string")

DataFrame[value: string]

In [ ]:
from pyspark.sql.types import StringType

spark_session.createDataFrame(names_list, StringType())

DataFrame[value: string]

## Create Multi Column Spark Dataframe using list

In [9]:
ages_list = [(21, ), (23, ), (41, ), (32, )]

In [11]:
spark_session.createDataFrame(ages_list)

DataFrame[_1: bigint]

In [12]:
spark_session.createDataFrame(ages_list, "age int")

DataFrame[age: int]

In [13]:
users_list = [(1, "U1"), (2, "U2"), (3, "U3"), (4, "U4")]

In [14]:
spark_session.createDataFrame(users_list)

DataFrame[_1: bigint, _2: string]

In [15]:
spark_session.createDataFrame(users_list, "user_id int, first_name string")

DataFrame[user_id: int, first_name: string]

In [ ]:
spark_session.stop()